@model MerchWebsite.Models.ViewModels.ShoppingCartViewModel

@{
    ViewData["Title"] = "ShoppingConfirmation";
}
<br />
<div class="container">
    <h2 class="text-info"></h2>
    <div>

    </div>
<br />
<partial name="~/Views/Shared/_ShippingCustDetails.cshtml" model="Model.Shipping" />
<br />
<partial name="~/Views/Shared/_ShippingDetail.cshtml" model="Model.Products" />

<a asp-area="Customer" asp-controller="Home" asp-action="About" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Back to List</a>
</div>